<% if @country == "Italy" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072222/Italy_ez262w.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "México" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072223/Me%CC%81xico_gaxrkt.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Spain" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072224/Spain_wgkhrd.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Belgium" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072219/Belgium_solqxn.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Brazil" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072220/Brazil_ehma3w.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Catalunya" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072221/Catalunya_g9nqbv.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>

<div>
  <div class="row">
    <div class="col-7">
    <% @houses.each do |house| %>
      <div class="card">
        <%= cl_image_tag house.photos[0].key , alt: "Poster", class:"card-image", height: 300 %>
        <div class="card-body">
          <div class="d-flex justify-content-between">
          <h5 class="card-title"><strong><%=  house.name %> </strong></h5>
          <h4><small> <strong><%=house.price%> </strong>€ / night </small></h4>
        </div>
          <p class="card-text"><%=  house.description %></p>
          <div class="d-flex justify-content-between">
            <p class="card-text"><small class="text-muted"><%= house.address %> / <%= house.country %></small></p>
            <button type="button" class="btn btn-primary float-right"><%= link_to 'See more', house_path(house) , :class => "button" %></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col-5">
      <div id="map"
      style="width: 100%"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="con">
  <button type="button" class="btn btn-success"><%= link_to "Add a house", new_house_path(@house) , :class => "button" %></button>
</div>
