<% if @country == "Italy" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072222/Italy_ez262w.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "México" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072223/Me%CC%81xico_gaxrkt.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Spain" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072224/Spain_wgkhrd.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Belgium" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072219/Belgium_solqxn.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Brazil" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072220/Brazil_ehma3w.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>
<% if @country == "Catalunya" %>
<div class="banner2" style="background-image: url(https://res.cloudinary.com/dxlitvtog/image/upload/v1637072221/Catalunya_g9nqbv.jpg);">
    <h2>Houses in <%= @country %></h2>
</div>
<% end %>

<div class="myhouses">
  <div class='dashboard-box'>
    <div class='user-box' id="map-container-show">
      <div class="map-subbox">
        <div id="map"
          style="width: 100%; height: 100%"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <div class="cards">
      <% @houses.each do |house| %>
        <div class='my-house-card'>
          <div class='my-house-img'>
            <%= cl_image_tag house.photos[0].key , alt: "Poster"%>
          </div>
          <div class='my-house-info'>
            <div class='house-top'>
              <div class='house-detail'>
                <h1 class='house-name'><%=  house.name %></h1>
                <p><%=  house.description %></p>
                <p class='house-address'><%= house.address %></p>
              </div>
              <div class='house-rating'>
                <div class='stars'>
                  <%house.avg_review.times do %>
                  <i class="fas fa-star"></i>
                  <% end %>
                  <%(5 -house.avg_review).times do %>
                  <i class="fas fa-star" style="color: #d9d9d9;"></i>
                  <% end %>
                </div>
                <p><%=  house.reviews.count %> Reviews</p>
              </div>
            </div>
            <div class='house-bottom'>
              <button type="button" class="btn-myhouse">
              <%= link_to 'See more', house_path(house), :class => "button"%>
              </button>
              <div class='house-earning'>
                <h1>
                  <%= house.price %>
                </h1>
                <p>Per night</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
