<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
        <% @house.photos.each_with_index do |photo,index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="con1">
  <div class="d-flex justify-content-between">
    <h2><%= @house.name %></h2>
    <h2><%= @house.price %>€ / night</h2>
  </div>
  <h4><%= @house.description %></h4>
  <br>
  <h6><strong>Commodities</strong></h3>
  <ul>
  <li>10 Bedrooms</li>
  <li>9 Full Bathrooms</li>
  <li>Full equiped Kitchen with a chef 24/7</li>
  <li>Elevator</li>
  <li>Car garage (space for 5 cars)</li>
  <li>Full fridge</li>
  <li>Pool with views</li>
  <li>Jacuzzi with hydro massage</li>
  <li>Sauna</li>

  </ul>
  <div class="location">
    <h6>Address: <%= @house.address %></h6>
    <h6>Country: <%= @house.country %></h6>
  </div>
  <div class="d-flex justify-content-between">
  <button class="btn btn-danger button"><%= link_to 'Delete', houses_path, method: :delete, data: {confirm: "Are you sure?"} %></button>
  <button class="btn btn-primary button"><%= link_to 'Edit', edit_house_path(@house) %></button>
  </div>
</div>

<div class="mapxx">
  <div id="map"
      style="width: 100% ; height: 400px; object-fit: cover;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="date-booked">
<h3>Book now!</h3>
<%= simple_form_for [@house,@booking] do |f| %>
<%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
<div class="submission"><%= f.submit %></div>
<% end %>
</div>

<div class="con2">
<h3>Bookings:</h3>
<% @house.bookings.each do |booking| %>
  <div class="d-flex justify-content-between">
    <h5>- <%= booking.start_date %> / <%= booking.end_date %></h5>
    <p> by: <%= booking.user.email %> </p>
  </div>
<% end %>
</div>
