<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://media.istockphoto.com/vectors/vector-handwritten-logo-letter-h-vector-id1008257270?k=20&m=1008257270&s=170667a&w=0&h=dEgCm2DSTI4J92EMA1-yQm1hMwFuQw3s_AtD9xImcZM=" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "My Bookings", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All houses", houses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add a house", new_house_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>

        </li>
      <% end %>
    </ul>
  </div>
</div>
