<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.inmobalia.com/imgV1/B98Le8~d7M9k3DegpEFZhS0lI_F8U4XZVz~HWxt~mGgYekxX9nCAxh0ZipZlAjNxEM6s1ur~IyRoHkUHvRIKXOjuLF_ixDIrePoIT2xg2St~lMqGPIvyjRrTV1UenMp29cgNfrHmHpIDK8G27dPQ.jpg);">
  <div class="container">
    <h1>Luxury homes all around the world</h1>
    <p>Rent a luxurious mansion to have the vacation of your life</p>
    <a class="btn btn-ghost" href="#">Book now</a>
  </div>
</div>
<br>
<br>
<br>
<h3><b>Choose between the beutfiul countries we offer</b></h3>
<h5>Starting from beutfiul Italy and ending with shitty Catalonia(carles landia)</h5>
<br>
<div class="cards">
 <%= link_to houses_path(country: "Italy") do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.homeinitaly.com/_cache/img_mgr/img/banner_home_01_1920x1080_gd_r7_h0_v0_t1_c000-000-000-255_q80.jpg)">
    Italy
  </div>
  <% end %>
  <%= link_to houses_path(country: "México") do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hotelsvillasdirect.com/wp-content/uploads/Casa-Nikki.jpg)">
    Mexico
  </div>
  <% end %>
  <%= link_to houses_path(country: "Spain") do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.luxhabitat.ae/journal/2f2b9991ad87f760f38b26f33f0ab36e_mod_original.jpg)">
    Spain
  </div>
  <% end %>
</div>


<div class="cards">

  <%= link_to houses_path(country: "Belgium") do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Fhp66t2435n6tmaazw3a9qnkpn1i215&option=N&h=472&permitphotoenlargement=false)">
    Belgium
  </div>
  <% end %>

  <%= link_to houses_path(country: "Brazil") do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.travelplusstyle.com/wp-content/uploads/2015/11/Laamu_Water_Villa_with_Pool_5962-ORIGINAL.jpg)">
    Brazil
  </div>
  <% end %>

  <%= link_to houses_path(country: "Catalunya") do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.villanovo.com/photos/4689/catalogne-villa-vellamas-5714342275c8baea651c6b2.56110901.jpg)">
    Catalonia
  </div>
  <% end %>
</div>
