<div class="myhouses">
  Total Earnings = <%= @user.total_benefit %>
  <div class="cards">
  <% @user.user_houses.each do |house| %>
    <div class='my-house-card'>
      <div class='my-house-img'>
        <%= cl_image_tag house.photos[0].key , alt: "Poster"%>
      </div>
      <div class='my-house-info'>
        <div class='house-top'>
          <div class='house-detail'>
            <h1 class='house-name'><%=  house.name %></h1>
            <p><%=  house.description %></p>
            <p class='house-address'><%= house.address %></p>
          </div>
          <div class='house-rating'>
            <div class='stars'>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>5 Reviews</p>
          </div>
        </div>
        <div class='house-bottom'>
          <button type="button" class="btn-myhouse" data-bs-toggle="modal" data-bs-target="#modal-<%= house.id %>">
            More info
          </button>
          <%= render "modal", house: house %>
          <div class='house-earning'>
            <h1>
              5000
            </h1>
            <p>Total Earnings</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="con">
  <button type="button" class="btn btn-success" style="float: right;"><%= link_to "Add a house", new_house_path(@house) , :class => "button" %></button>
</div>
