<%# <div>

    <%= simple_form_for [@house, @review] do |f| %>
        <%# <%= f.input :rating, collection: 0..5 %>
        <%# <%= f.input :content%>
        <%# <%= f.submit class: 'btn btn-primary' %>
      <%# <% end %>
      <%# <%= link_to "See all houses", houses_path %>
<%# </div> %>
